<div class="container">
  <div class="content">
    <div class="display">
      <div class="logo">
        <img src="/ngx-editor.svg" alt="ngx-editor" />
        <div class="subtitle">Rich Text Editor for angular using ProseMirror</div>
      </div>
      @if (!isDevMode) {
        <div class="badges">
          <img src="https://badgen.net/npm/v/ngx-editor" alt="version" />
          <img src="https://badgen.net/npm/dm/ngx-editor" alt="downloads per month " />
          <img src="https://badgen.net/npm/dt/ngx-editor" alt="total downloads" />
          <img src="https://badgen.net/npm/license/ngx-editor" alt="license" />
        </div>
      }
    </div>

    <div>
      <form [formGroup]="form">
        <div class="editor NgxEditor__Wrapper">
          <ngx-editor-menu [editor]="editor" [toolbar]="toolbar" [customMenuRef]="customMenu"> </ngx-editor-menu>
          <ngx-editor [editor]="editor" formControlName="editorContent">
            <ngx-editor-floating-menu [editor]="editor"></ngx-editor-floating-menu>
          </ngx-editor>
        </div>
      </form>

      <!-- <div class="editor">
      <ngx-editor [editor]="editor" [(ngModel)]="editordoc">
      </ngx-editor>
    </div> -->

      <!-- custom menu -->
      <ng-template #customMenu>
        <app-custom-menu [editor]="editor"></app-custom-menu>
      </ng-template>
    </div>
  </div>
</div>
