.ngx-editor-grippie {
    height: 9px;
    background-color: #f1f1f1;
    position: relative;
    text-align: center;
    cursor: s-resize;
    border: 1px solid #ddd;
    border-top: transparent;

    svg {
        position: absolute;
        top: 1.5px;
        width: 50%;
        right: 25%;
    }
}
