<div class="ngx-editor" id="ngxEditor" [style.width]="config['width']" [style.minWidth]="config['minWidth']">

  <!-- toolbar -->
  <div class="ngx-toolbar">
    <div class="ngx-toolbar-set">
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('bold')" (click)="executeCommand('bold')" title="Bold" [disabled]="!enableToolbar">
        <i class="fa fa-bold" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('italic')" (click)="executeCommand('italic')" title="Italic"
        [disabled]="!enableToolbar">
        <i class="fa fa-italic" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('underline')" (click)="executeCommand('underline')" title="Underline"
        [disabled]="!enableToolbar">
        <i class="fa fa-underline" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('strikeThrough')" (click)="executeCommand('strikeThrough')"
        title="Strikethrough" [disabled]="!enableToolbar">
        <i class="fa fa-strikethrough" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('superscript')" (click)="executeCommand('superscript')"
        title="Superscript" [disabled]="!enableToolbar">
        <i class="fa fa-superscript" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('subscript')" (click)="executeCommand('subscript')" title="Subscript"
        [disabled]="!enableToolbar">
        <i class="fa fa-subscript" aria-hidden="true"></i>
      </button>
    </div>
    <div class="ngx-toolbar-set">
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('justifyLeft')" (click)="executeCommand('justifyLeft')"
        title="Justify Left" [disabled]="!enableToolbar">
        <i class="fa fa-align-left" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('justifyCenter')" (click)="executeCommand('justifyCenter')"
        title="Justify Center" [disabled]="!enableToolbar">
        <i class="fa fa-align-center" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('justifyRight')" (click)="executeCommand('justifyRight')"
        title="Justify Right" [disabled]="!enableToolbar">
        <i class="fa fa-align-right" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('justifyFull')" (click)="executeCommand('justifyFull')"
        title="Justify" [disabled]="!enableToolbar">
        <i class="fa fa-align-justify" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('indent')" (click)="executeCommand('indent')" title="Indent"
        [disabled]="!enableToolbar">
        <i class="fa fa-indent" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('outdent')" (click)="executeCommand('outdent')" title="Outdent"
        [disabled]="!enableToolbar">
        <i class="fa fa-outdent" aria-hidden="true"></i>
      </button>
    </div>
    <div class="ngx-toolbar-set">
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('cut')" (click)="executeCommand('cut')" title="Cut" [disabled]="!enableToolbar">
        <i class="fa fa-scissors" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('copy')" (click)="executeCommand('copy')" title="Copy" [disabled]="!enableToolbar">
        <i class="fa fa-files-o" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('delete')" (click)="executeCommand('delete')" title="Delete"
        [disabled]="!enableToolbar">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('removeFormat')" (click)="executeCommand('removeFormat')"
        title="Clear Formatting" [disabled]="!enableToolbar">
        <i class="fa fa-eraser" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('undo')" (click)="executeCommand('undo')" title="Undo" [disabled]="!enableToolbar">
        <i class="fa fa-undo" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('redo')" (click)="executeCommand('redo')" title="Redo" [disabled]="!enableToolbar">
        <i class="fa fa-repeat" aria-hidden="true"></i>
      </button>
    </div>
    <div class="ngx-toolbar-set">
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('paragraph')" (click)="executeCommand('insertParagraph')"
        title="Paragraph" [disabled]="!enableToolbar">
        <i class="fa fa-paragraph" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('blockquote')" (click)="blockQuote()" title="Blockquote"
        [disabled]="!enableToolbar">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('removeBlockquote')" (click)="removeQuote()" title="Remove Blockquote"
        [disabled]="!enableToolbar">
        <i class="fa fa-quote-right" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('horizontalLine')" (click)="executeCommand('insertHorizontalRule')"
        title="Horizontal Line" [disabled]="!enableToolbar">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('orderedList')" (click)="executeCommand('insertUnorderedList')"
        title="Unodered List" [disabled]="!enableToolbar">
        <i class="fa fa-list-ul" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('unorderedList')" (click)="executeCommand('insertOrderedList')"
        title="Ordered List" [disabled]="!enableToolbar">
        <i class="fa fa-list-ol" aria-hidden="true"></i>
      </button>
    </div>
    <div class="ngx-toolbar-set">
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('link')" (click)="createLink()" title="Insert/Edit Link"
        [disabled]="!enableToolbar">
        <i class="fa fa-link" aria-hidden="true"></i>
      </button>
      <button class="ngx-editor-button" *ngIf="canEnableToolbarOptions('image')" (click)="insertImage()" title="Insert Image" [disabled]="!enableToolbar">
        <i class="fa fa-picture-o" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <!-- text area -->
  <div class="ngx-editor-textarea" [attr.contenteditable]="config['editable']" [attr.placeholder]="config['placeholder']" (input)="html = $event.target.innerHTML; htmlContentChange($event.target.innerHTML)"
    [attr.translate]="config['translate']" [attr.spellcheck]="config['spellcheck']" [style.height]="config['height']" [style.minHeight]="minHeight || config['minHeight']"
    [style.resize]="canResize()" (focus)="onFocus()" (focusout)="onFocusOut()" #ngxTextArea></div>

  <!-- message box -->
  <div class="ngx-editor-message" *ngIf="ngxMessage" (dblclick)="clearMessage()">
    {{ngxMessage}}
  </div>

  <app-ngx-grippie *ngIf="resizer === 'stack'"></app-ngx-grippie>
</div>