/*
 * editor styles
 */

.ngx-editor {
    position: relative;

    ::ng-deep [contenteditable=true]:empty:before {
        content: attr(placeholder);
        display: block; // for firefox
   
    }

    .ngx-editor-textarea {
        min-height: 5rem;
        padding: 0.5rem 0.8rem 1rem 0.8rem;
        border: 1px solid #ddd;
        border-top: transparent !important;
        background-color: #fff;

        &:focus,
        &.focus {
            outline: 0;
        }

        ::ng-deep blockquote {
            margin-left: 1rem;
            border-left: 0.2em solid #dfe2e5;
            padding-left: 0.5rem;
        }
    }
}
