<div class="ngx-editor" id="ngxEditor" [style.width]="config['width']" [style.minWidth]="config['minWidth']">

  <app-ngx-toolbar [config]="config" [enableToolbar]="enableToolbar"></app-ngx-toolbar>
  <!-- text area -->
  <div class="ngx-editor-textarea" [attr.contenteditable]="config['editable']" [attr.placeholder]="config['placeholder']" (input)="html = $event.target.innerHTML; htmlContentChange(html)"
    [attr.translate]="config['translate']" [attr.spellcheck]="config['spellcheck']" [style.height]="config['height']" [style.minHeight]="minHeight || config['minHeight']"
    [style.resize]="canResize()" (focus)="onFocus()" #ngxTextArea></div>

  <!-- message box -->
  <div class="ngx-editor-message" *ngIf="ngxMessage" (dblclick)="clearMessage()">
    {{ngxMessage}}
  </div>

  <app-ngx-grippie *ngIf="resizer === 'stack'"></app-ngx-grippie>
</div>
