<div class="container">
    <div class="logo">
        <img src="assets/icons/ngx-editor.svg" alt="ngx-Editor">
        <h6>WYSIWYG Editor for Angular Applications.</h6>
        <p>(v1.0.0-beta.3)</p>
        <a class="github-button" href="https://github.com/Sibiraj-S" aria-label="Follow @Sibiraj-S on GitHub">Follow @Sibiraj-S</a>
        <a class="github-button" href="https://github.com/Sibiraj-S/ngx-editor/fork" aria-label="Fork Sibiraj-S/ngx-editor on GitHub">Fork</a>
        <a class="github-button" href="https://github.com/Sibiraj-S/ngx-editor" aria-label="Star Sibiraj-S/ngx-editor on GitHub">Star</a>
        <a class="github-button" href="https://github.com/Sibiraj-S/ngx-editor/issues" data-show-count="true" aria-label="Issue Sibiraj-S/ngx-editor on GitHub">Issue</a>
        <a class="github-button" href="https://github.com/Sibiraj-S/ngx-editor/archive/master.zip" aria-label="Download Sibiraj-S/ngx-editor on GitHub">Download</a>
    </div>

    <div class="editor">
        <app-ngx-editor [config]="editorConfig" [placeholder]="'Enter text here...'" [spellcheck]="true" [(html)]="htmlContent"></app-ngx-editor>
    </div>

    <div *ngIf="htmlContent">
        <h6>HTML Output</h6>
        <div class="html">
            {{htmlContent}}
        </div>
    </div>
</div>