<div class="container">
  <div class="content">
    <div class="display">
      <div class="logo">
        <img src="../assets/ngx-editor.svg" />
        <div class="subtitle">A Simple WYSIWYG Editor for Angular Applications.</div>
      </div>
      <div class="badges" *ngIf="isProdMode">
        <img src="https://badgen.net/npm/v/ngx-editor" />
        <img src="https://badgen.net/npm/dm/ngx-editor" />
        <img src="https://badgen.net/npm/dt/ngx-editor" />
        <img src="https://badgen.net/npm/license/ngx-editor" />
      </div>
    </div>
    <div class="editor">
      <ngx-editor [placeholder]="placeholder" [ngModel]="editorContent" (ngModelChange)="editorContentChange($event)">
      </ngx-editor>
    </div>
  </div>
</div>
