<div class="container">
  <div class="content">
    <div class="display">
      <div class="logo">
        <img src="../assets/ngx-editor.svg" />
        <div class="subtitle">A Simple WYSIWYG Editor for Angular Applications.</div>
      </div>
      <div class="badges" *ngIf="isProdMode">
        <img src="https://badgen.net/npm/v/ngx-editor" />
        <img src="https://badgen.net/npm/dm/ngx-editor" />
        <img src="https://badgen.net/npm/dt/ngx-editor" />
        <img src="https://badgen.net/npm/license/ngx-editor" />
      </div>
    </div>

    <form [formGroup]="form">

      <div class="editor">
        <ngx-editor formControlName="editorContent" (init)="init($event)" [customMenuRef]="customMenu">
        </ngx-editor>
      </div>

    </form>

    <!-- <ngx-editor [(ngModel)]="editordoc" (init)="init($event)" [customMenuRef]="customMenu">
      </ngx-editor> -->

    <!-- custom menu -->
    <ng-template #customMenu>
      <app-custom-menu [editorView]="editorView"></app-custom-menu>
    </ng-template>
  </div>

</div>
