.container {
  width: 100%;
  max-width: 900px;
  min-width: 320px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    width: 100%;

    .display {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;

      .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .badges {
        img {
          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;

  pre {
    white-space: pre !important;
  }
}
