::ng-deep .ngxePopover {
    form {
        .form-group {
            margin-bottom: 1rem;

            input {
                overflow: visible;
            }

            .form-control-sm {
                width: 100%;
                outline: none;
                border: none;
                border-bottom: solid 1px #bdbdbd;
                border-radius: 0;
                margin-bottom: 1px;
                padding: .25rem .5rem;
                font-size: .875rem;
                line-height: 1.5;
            }

            &.row {
                display: flex;
                flex-wrap: wrap;
                margin-left: 0;
                margin-right: 0;

                .col {
                    flex-basis: 0;
                    flex-grow: 1;
                    max-width: 100%;
                    padding: 0;

                    &:first-child {
                        padding-right: 15px;
                    }
                }
            }
        }

        .form-check {
            position: relative;
            display: block;
            padding-left: 1.25rem;

            .form-check-input {
                position: absolute;
                margin-top: .3rem;
                margin-left: -1.25rem;
            }
        }
    }
}
